@charset "euc-kr";

/*
 개별 카페 공통 레이아웃 관련 CSS (title 한글 주석이 깨져서 보인다면, 해당 css 파일의 인코딩 설정을 확인해서 commit 이 필요합니다.)
*/

/*NHN WebStandard Team (http://html.nhndesign.com/) author : redsound 200703 */

html, body {margin:0; padding:0; height:100%; min-height:100%; font-size:12px;}
body, div, li, dd, dt, td, select, textarea, input {font-family:'돋움',dotum,Helvetica,sans-serif; font-size:12px;}/*body-txt-color*/
hr {display:none;}
img {border:none;}
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:underline}
a:active {text-decoration:none}
ul, ol, dl, li, dd, dt, p, form, div {list-style:none; margin:0; padding:0;}
input {color:#333; }
.d-none {display:none; }
.of-h {oveflow:hidden; margin:0; }
.u, a.u:link, a.u:visited, a.u:hover, a.u:active {text-decoration:underline}
.b {font-weight:bold; }
.ls0 {letter-spacing:0 !important; }
.ls1 {letter-spacing:-1px !important; }
.vd {font-family:verdana;}
.p9 {font-size:9px; font-family:verdana;letter-spacing:0; }
.tah11 {font-family:tahoma;font-size:11px}
.p11 {font-size:11px; letter-spacing:-1px; }
.p14 {font-size:14px; letter-spacing:-1px; }
.ico-bl {font-size:8px; padding:0 4px 0 3px;}
.ico-bl01 {font-size:12px; font-weight:bold; }
.ico-bl02 {font-size:16px; font-weight:bold; margin-top:3px; *margin-top:7px; line-height:1.0;}
.ico-bl03 {font-size:16px; font-weight:bold; margin-top:-5px; line-height:1.0; filter:flipv();-ms-filter:"flipv()"; }
html>body .ico-bl03 {font-size:16px; font-weight:bold; margin-top:3px; *margin-top:7px; line-height:1.0;}
.h-5 {clear:both; height:5px; margin:0; font-size:0; overflow:hidden;}
.h-7 {clear:both; height:7px; margin:0; font-size:0; overflow:hidden;}
.h-10 {clear:both; height:10px; margin:0; font-size:0; overflow:hidden;}
.h-11 {clear:both; height:11px; margin:0; font-size:0; overflow:hidden;}
.h-12 {clear:both; height:12px; margin:0; font-size:0; overflow:hidden;}
.h-15 {clear:both; height:15px; margin:0; font-size:0; overflow:hidden;}
.h-20 {clear:both; height:20px; margin:0; font-size:0; overflow:hidden;}
.h-25 {clear:both; height:25px; margin:0; font-size:0; overflow:hidden;}
.h-30 {clear:both; height:30px; margin:0; font-size:0; overflow:hidden;}
.h-33 {clear:both; height:33px; margin:0; font-size:0; overflow:hidden;}
.h-35 {clear:both; height:35px; margin:0; font-size:0; overflow:hidden;}
.h-55 {clear:both; height:55px; margin:0; font-size:0; overflow:hidden;}
.ln13 {line-height:1.3;} .ln14 {line-height:1.4;} .ln15 {line-height:1.5;} .ln16 {line-height:1.6;} .ln18 {line-height:1.8;}
.input {vertical-align:middle; width:13px; height:13px; margin:0; }
.input-txt {border-style:solid; border-width:1px; font-family:'돋움',dotum,Helvetica,sans-serif; font-size:12px;}
.bn {font-weight:normal !important;}
.filter-10 {filter:alpha(opacity=10);-ms-filter:"alpha(opacity=10)"; opacity:0.1;}
.filter-20 {filter:alpha(opacity=20);-ms-filter:"alpha(opacity=20)"; opacity:0.2;}
.filter-25 {filter:alpha(opacity=25);-ms-filter:"alpha(opacity=25)"; opacity:0.25;}
.filter-30 {filter:alpha(opacity=30);-ms-filter:"alpha(opacity=30)"; opacity:0.3;}
.filter-40 {filter:alpha(opacity=40);-ms-filter:"alpha(opacity=40)"; opacity:0.4;}
.filter-45 {filter:alpha(opacity=45);-ms-filter:"alpha(opacity=45)"; opacity:0.45;}
.filter-50 {filter:alpha(opacity=50);-ms-filter:"alpha(opacity=50)"; opacity:0.5;}
.filter-60 {filter:alpha(opacity=60);-ms-filter:"alpha(opacity=60)"; opacity:0.6;}
.filter-70 {filter:alpha(opacity=70);-ms-filter:"alpha(opacity=70)"; opacity:0.7;}
.filter-80 {filter:alpha(opacity=80);-ms-filter:"alpha(opacity=80)"; opacity:0.8;}
.btn-search-green {background:url(https://cafe.pstatic.net/img/searchincafe/btn_srch.gif) no-repeat}

.display-inblock {display:inline-block;}
.vm {vertical-align:middle}
.activitystop{padding-top:2px;text-decoration:none}

/* skip navigation */
#u_skip{position:relative;width:956px;margin:0 auto}
a.skip {position:absolute;left:0;top:-30px;border:1px solid #4ec53d;color:#fff;text-decoration:none;padding:2px 6px 0;line-height:24px;font-size:12px;background-color:#000;z-index:1200;-webkit-transition:.3s}
a.skip:active,a.skip:focus{top:0;text-decoration:none;cursor:pointer}

#cafe-body {clear:both; width:956px; margin:0 auto; overflow:hidden; position:relative; }
#cafe-body-skin {width:100%;}
#naver-gnb {z-index:500;position:relative; clear:both; height:31px;}
#front-img {position:relative; clear:both; overflow:hidden; }
#special-menu {z-index:100; position:relative; clear:both; margin-top:5px; overflow:hidden; }
#info-search {position:relative; clear:both; height:29px; overflow:hidden; }
#content-area {position:relative; clear:both; width:100%; *zoom:1}
#content-area:after{display:block;clear:both;content:''}
#group-area {width:171px; overflow:hidden;}
#ad-banner {clear:both; position:relative; width:171px; height:171px; margin:0 0 5px 0; }
#cafe-banner {clear:both; width:171px; height:50px; cursor:pointer; cursor:hand; }
#main-area {width:773px !important; }
#main-area .layout-box {clear:both; overflow:hidden;}
#cafe-intro {clear:both; zoom:1;}
#cafe-intro:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#main-widget-area {clear:both; margin:0 0 20px 0; overflow:hidden;}
#widget-area {width:171px; overflow:hidden;}
#cafe-data {clear:both; overflow:hidden;width:100%;}

#gnb-menu .naver-h, #gnb-menu .m-cafe, #gnb-menu .join-cafe {margin-top:3px;}
#gnb-menu .naver-h, #gnb-menu .m-cafe > a, #gnb-menu .join-cafe > a{line-height:28px;font-size:12px;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,'Apple SD Gothic Neo',Helvetica,Sans-serif !important }
#gnb-menu .gnb_my_li .gnb_my_content a.gnb_mail_address {display:block;clear:both;}

#content-area .c-d-l1 {width:377px; }
#content-area .c-d-s1 {width:285px; }
#content-area .c-d-l2 {width:773px; }
#content-area .c-d-s2 {width:590px; }
#content-area .cb {clear:both; width:100%; overflow:hidden; }
#content-area .fl {float:left;}
#content-area .fr {float:right;}
#main-area .layout-box .fl {float:left; padding:0 0 20px 0;  }
#main-area .layout-box .fr {float:right; overflow:hidden; padding:0 0 20px 0;  }
#content-area .cd-box-l {width:773px; }
#content-area .cd-box-s {width:590px; }
#content-area .pocket_nav {margin-bottom:-1px; padding-top:3px; text-align:right;}

#cafe-footer {position:relative; clear:both; height:65px; _height:64px; margin:25px 0 0 0; border-top-width:1px; border-top-style:solid; overflow:hidden; }
#cafe-footer p {margin:25px 0 0 0; text-align:center; }

/* layer for preview (클릭 방지 위한 투명 레이어) */
#transparent_layer{display:block !important;position:fixed;_position:absolute;top:0;left:0;z-index:998;width:100%;height:100%}
.transparent_layer_open{display:block !important}
.transparent_layer_bg_begin{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0;filter:alpha(opacity=0)}

/* cafe-begin */
#dim{display:none;position:fixed;_position:absolute;top:0;left:0;z-index:998;width:100%;height:100%}
.dim{display:none;position:fixed;_position:absolute;top:0;left:0;z-index:998;width:100%;height:100%;background:#000;opacity:0.15;filter:alpha(opacity=15)}
.dim_open{display:block !important}
.dim_commerce_cate{display:block;background:#fff;opacity:0.4;filter:alpha(opacity=40)}
.bg_begin{top:0;left:0;width:100%;height:100%;background:#000;opacity:0.15;filter:alpha(opacity=15)}

/*cafe-banner*/
#cafe-banner p {padding:13px 0 0 8px; text-align:left; font-weight:bold; }

/*prev-next*/
.prev-next {clear:both;margin:20px 0 15px 0;}
table.Nnavi{height:13px; border-collapse:collapse; margin:0 auto; }
table.Nnavi td {padding:0;}
table.Nnavi .line {padding-top:2px; filter:alpha(opacity=30);-ms-filter:"alpha(opacity=30)"; opacity:0.3;}
table.Nnavi .on,
table.Nnavi .on a {font-weight:bold; text-decoration:underline;}
table.Nnavi a {display:block; font-size:12px; font-family:'돋움',dotum,Helvetica,sans-serif; text-decoration:none; padding:2px 6px 0 5px; font-weight:bold}
table.Nnavi a.pn {font-weight:normal; cursor:pointer;}
table.Nnavi a.pn:hover {text-decoration:none;}
table.Nnavi a span {float:left; vertical-align:middle;}
table.Nnavi a span.ico {margin-top:2px; }
table.Nnavi .off {display:block; padding:2px 6px 0 5px;}
table.Nnavi .off span {float:left; vertical-align:middle;}
table.Nnavi .off span.ico {margin-top:2px; }
table.Nnavi.bgc_v1 .on,table.Nnavi.bgc_v1 .on a{color:#ff3c00}
table.Nnavi.bgc_v1 a {color:#666}

/*prev-next-s*/
.prev-next-s {margin:0; padding:0; }
table.Nnavi-s {border-collapse:collapse; margin:0 auto;}
table.Nnavi-s td {margin:0; padding:0 !important;}
table.Nnavi-s .line {padding:2px 0 0 0 !important; filter:alpha(opacity=30);-ms-filter:"alpha(opacity=30)"; opacity:0.3;}
table.Nnavi-s .on {font-weight:bold; text-decoration:underline;}
table.Nnavi-s a {display:block; font-family:verdana; font-size:11px; text-decoration:none; padding:0 2px 0 2px; }
table.Nnavi-s a.pn {font-weight:normal; cursor:pointer; curdor:hand;}
table.Nnavi-s a.pn:hover {text-decoration:none;}
table.Nnavi-s a span {float:left; vertical-align:middle;}
table.Nnavi-s a span.ico {margin-top:2px; }

/*perid-layer*/
.perid-layer {clear:both;border:1px solid #888;background-color:#FFF;overflow:hidden}
.perid-layer ul {width:100%;margin:0;padding:0;overflow:hidden}
.perid-layer li {width:100%;height:25px;margin:0;padding:0;vertical-align:top}
.perid-layer li.line {border-top:1px solid #ebebeb}
.perid-layer li.scrap a:hover{background:none !important}
.perid-layer li.scrap a:hover em{text-decoration:underline}
.perid-layer li a {display:block;width:100%;height:25px;color:#4c4c4c;background-color:#fff}
.perid-layer li span {display:block;padding-top:7px;padding-left:9px;cursor:pointer}
.perid-layer li span em{display:inline-block;width:62px;margin:-2px 0 2px;font-weight:bold;font-style:normal;font-family:verdana;font-size:11px;text-align:right;vertical-align:middle}
.perid-layer li a:hover {background-color:#f4f4f4 !important;text-decoration:none}
.perid-layer .nm_load{padding:46px 0 42px;text-align:center}
.perid-layer .nm_load dt{margin-bottom:5px}
.perid-layer .nm_load dd{font-size:11px;color:#999;letter-spacing:-1px;line-height:15px}
/*btn*/
.btn {display:inline; float:left; height:23px; margin-left:5px; overflow:hidden; cursor:pointer; cursor:hand; }
.btn span {float:left; width:10px; height:23px;margin:0; background-position:0 0; background-repeat:no-repeat; }
.btn p {display:inline; float:left; height:23px; padding-right:10px;background-position:top right; background-repeat:no-repeat;}
.btn p a ,.btn p .txt_join{float:left; margin-top:6px; letter-spacing:-1px; }
.btn p a:hover {text-decoration:none;}
.btn p img {margin-right:4px; margin-bottom:2px; vertical-align:middle;}

/* btn2 */
.btn2 {display:inline; float:left; height:20px; margin-left:4px; overflow:hidden; cursor:pointer; cursor:hand; }
.btn2 span {float:left; width:7px; height:20px;margin:0;background-position:0 0; background-repeat:no-repeat; }
.btn2 p {display:inline; float:left; height:20px; padding-right:8px;background-position:top right; background-repeat:no-repeat;}
.btn2 p a {float:left; margin-top:5px; letter-spacing:-1px; font-size:11px;}
.btn2 p a:hover {text-decoration:none;}
.btn2 p img {margin-right:5px; margin-bottom:2px; vertical-align:middle;}

/* login_layer */
.layerpopup { position:absolute; z-index:99; padding:3px 0 0 3px; text-align:left;}
.layerpopup .shadow1 { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://cafe.pstatic.net/cafe4/layerpopup_shadow1.png', sizingMethod='scale'); width:100%;}
html>body .layerpopup .shadow1 { background:url('https://cafe.pstatic.net/cafe4/layerpopup_shadow1.png') transparent; }
.layerpopup .shadow1_side { position:relative; top:-2px; left:-2px;}
.layerpopup .shadow2 { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://cafe.pstatic.net/cafe4/layerpopup_shadow2.png', sizingMethod='scale'); width:100%;}
html>body .layerpopup .shadow2 { background:url('https://cafe.pstatic.net/cafe4/layerpopup_shadow2.png') transparent; }
.layerpopup .shadow2_side { position:relative; top:-1px; left:-1px;}
.layerpopup .border_type { border:2px solid #777777; background-color:#ffffff; }
.layerpopup .header {display:block; height:22px; padding:8px 0 0 13px;margin:0;background:#f4f4f4; font:bold 13px '굴림',Gulim,'돋움',dotum,Helvetica,sans-serif}
.layerpopup .closelayer { position:absolute; right:9px; top:9px; }
.layerpopup .btn_box { text-align:center; padding:10px 0 15px 0; margin:10px 20px 0 20px; border-top:1px solid #e8e8e8; }
.layerpopup .btn_box.nomargin {margin:10px 0 0; padding:10px 0 0;}
.layerpopup .btn_box * { vertical-align:middle;}
.layerpopup .content { display:block; margin:20px;}
.layerpopup .gbox {border:1px solid #E3E3E3}
.layerpopup .gbox div {padding:14px 0 10px 0;border:1px solid #F1F1F1;background-color:#F9F9F9}
.layerpopup .gbox table {margin:0 auto;}
.layerpopup .gbox th {width:49px;font-weight:normal;text-align:right;}
.layerpopup .gbox td {height:25px;padding-left:10px;}
.layerpopup .gbox .inp01 {height:18 px;border-top:1px solid #999999;border-left:1px solid #999999;border-right:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9;}
.layerpopup .gbox .check01 {margin:0 0 0 0;_margin:-3px -3px -3px -3px;border:none}
.layerpopup .gbox .btn_login {margin:0 0 -6px 0;_margin:0 0 -5px 0;}
.layerpopup .gbox label {font-size:11px;}
.layerpopup .blank10 {height:10px;overflow:hidden;font-size:0}
.layerpopup .blank20 {height:20px;overflow:hidden;font-size:0}
.layerpopup .tc {text-align:center}
.layerpopup .design_success {padding:30px 0 23px 0;color:#595959;font-weight:bold;text-align:center}
.layerpopup .design_success span {color:#3B941E;}

.layerpopup .cafeopen h3 {width:185px;height:20px;margin:0 auto;background:url(https://cafe.pstatic.net/cafe4/txt_cafeopen.gif) no-repeat;}
.layerpopup .cafeopen h3 span {display:none}
.layerpopup .cafeopen .url {padding-top:5px;color:#37B911;font-size:12px;font-weight:bold;text-align:center}
.layerpopup .cafeopen .open_txt {padding-top:30px;text-align:center;color:#999999;font-size:11px;line-height:1.4}
.layerpopup a:link,.layerpopup a:visited, .layerpopup a:active{color:#333333; text-decoration:none}
.layerpopup a:hover{color:777777; text-decoration:underline}
.layerpopup .cp_noti{margin:0; overflow:hidden; zoom:1;}
.layerpopup .cp_noti dt{float:left; width:44px; height:39px;}
.layerpopup .cp_noti dd{float:left; background:url(https://cafe.pstatic.net/img/bu_1x26_ef.gif) 0 0 no-repeat; padding:0 0 0 16px; color:#222; font-weight:bold; font-size:12px; letter-spacing:-1px; line-height:1.3em;}
.layerpopup .cp_noti_desc{padding:11px 14px 1px; border:solid 1px #DFDFDF; overflow:hidden;}
.layerpopup .cp_noti_desc p{font-size:11px; line-height:1.4em; letter-spacing:-1px; padding-bottom:7px; color:#888;}
.layerpopup .cp_noti_desc span{color:#444;}
.layerpopup .content_del {display:block; margin:13px 14px 0 14px; padding-right:}
.layerpopup .content_del h3 {margin:0;padding:0 15px 6px 0;color:#222222;font-size:12px;letter-spacing:-1px;}
.layerpopup .content_del p {display:block; color:#7A7A7A;font-size:11px;font-family:'돋움',dotum,Helvetica,sans-serif}
.layerpopup .content_del .btn_box {margin:10px 0 0 0; padding:10px 0 15px 0; border-top:1px solid #e8e8e8;}
.layerpopup .content_comm{display:block; margin:13px 20px 15px;}
.layerpopup .content_comm p{line-height:1.5em;}
.layerpopup .content_comm .btn_box {margin:4px 0 0 0; padding:10px 0 0 0; border-top:1px solid #e8e8e8;}
.layerpopup .mb_0 {margin-bottom:0}
.layerpopup .t_btn {padding-bottom:14px;}
.layerpopup .t_btn .btn_doc {margin-right:7px;}
.layerpopup .txt_1 {padding-bottom:7px;color:#278F00;font-size:11px;}
.layerpopup .txt_2 {color:#707070;font-size:11px;line-height:1.4}
.layerpopup .txt_2 a {color:#004790 !important;text-decoration:underline !important;letter-spacing:-1px;}
.layerpopup .safenum-box1{line-height:18px; color:#222; padding-bottom:5px;}
.layerpopup .safenum-box2{border:solid 1px #e3e3e3; overflow:hidden; zoom:1;}
.layerpopup .safenum-box2 div{border:solid 1px #f1f1f1; background-color:#f8f8f8; padding:11px 0 8px 16px; font-weight:bold; line-height:18px; overflow:hidden; zoom:1;}
.layerpopup .safenum-box2 div em{font-style:normal; color:#61ae31;}
.layerpopup .safenum-box3{padding:13px 0 0 !important; margin:0 !important; list-style:none !important;}
.layerpopup .safenum-box3 li{line-height:18px; color:#222; padding:0 0 0 9px !important; margin:0 !important; background:url(https://cafe.pstatic.net/cafe4/bu_2x2_a1.gif) 3px 5px no-repeat; list-style:none !important; letter-spacing:-1px;}
.layerpopup .safenum-box3 li .sub{font-size:11px; color:#999;}
.layerpopup .content2 {display:block; margin:13px 20px 20px;}
.layerpopup .vt {vertical-align:top;}
.layerpopup .ls {letter-spacing:-1px;}
.layerpopup .chat_form1 {width:100%; border:0; table-layout:fixed;}
.layerpopup .chat_form1 th {color:#333; font-size:12px; letter-spacing:-1px; text-align:left; vertical-align:top; padding-top:6px; .padding-top:7px;}
.layerpopup .chat_form1 td.frm {padding:3px 0;}
.layerpopup .input-txt {border:solid 1px #ddd; border-top-color:#a5a5a5; border-left-color:#a5a5a5; color:#878787; font-size:11px; padding:3px 0; .padding:4px 0 2px; vertical-align:middle;}
.layerpopup .input-txtarea {border:solid 1px #ddd; border-top-color:#a5a5a5; border-left-color:#a5a5a5; color:#878787; font-size:11px; padding:3px 2px; vertical-align:middle; line-height:1.4em;}
.layerpopup .input-select {font-size:11px; color:#878787; vertical-align:middle;}
.layerpopup .input-check {width:13px; height:13px; vertical-align:middle; margin:0 0 3px;}
.layerpopup label {font-size:12px; color:#444; vertical-align:middle; padding-left:3px; padding-right:5px;}
.layerpopup .chat_form2{padding:1px 0 0; overflow:hidden;}
.layerpopup .chat_form2 dt{font-weight:bold; color:#000; padding:0 0 5px;}
.layerpopup .chat_form2 dd{color:#000; padding:0 0 12px;}
.layerpopup .chat_form2 dd span{font-weight:normal; color:#ddd;}
.layerpopup .chat_form3{width:100%; border:none; table-layout:fixed;}
.layerpopup .btn_box.nomargin {margin:10px 0 0; padding:10px 0 0;}
.layerpopup .chat_form3 th{text-align:left; line-height:1.4em; padding:0 0 2px; vertical-align:top;}
.layerpopup .chat_form3 td{color:#333; line-height:1.4em; overflow:hidden; white-space:nowrap; -ms-text-overflow:"ellipsis"; text-overflow:ellipsis; -o-text-overflow:ellipsis;  padding:0 0 2px;}
.layerpopup .chat_form3 td span{font-weight:normal; color:#ddd;}
.layerpopup .chat_form3 td span.p2{font-weight:normal; color:#878787;}
.layerpopup .chat_form3 td .text{color:#333; letter-spacing:-1px;}
.layerpopup .chat_form3 .desc{white-space:normal !important;}
.layerpopup .chat_clist1 {width:100%; _width:auto; border:0; table-layout:fixed; border-top:solid 1px #e0e0e0; border-bottom:solid 1px #e0e0e0;}
.layerpopup .chat_clist1 th{background-color:#f7f7f7; text-align:left; color:#333; padding:6px 0 4px 10px; line-height:1.4em;}
.layerpopup .chat_clist1 td{background-color:#f7f7f7; color:#333; white-space:nowrap; -ms-text-overflow:"ellipsis"; text-overflow:ellipsis; -o-text-overflow:ellipsis; padding:6px 0 4px; line-height:1.4em;}
.layerpopup .chat_clist1 td.sub{background-color:#f7f7f7; color:#878787; font-size:11px; text-align:right; padding:6px 10px 4px 0; line-height:1.4em;}
.layerpopup .chat_clist1 td span{color:#999; font-size:11px; font-family:tahoma; letter-spacing:0;}
.layerpopup .chat_clist2div {height:279px; overflow:auto; border-bottom:solid 1px #e0e0e0; overflow-x:hidden;
    SCROLLBAR-FACE-COLOR: #fff;
    SCROLLBAR-SHADOW-COLOR: #fff;
    SCROLLBAR-3DLIGHT-COLOR: #ccc;
    SCROLLBAR-ARROW-COLOR: #8d8d8d;
    SCROLLBAR-DARKSHADOW-COLOR: #ccc;
    SCROLLBAR-BASE-COLOR: #fff;
    SCROLLBAR-TRACK-COLOR: #f5f5f5;
}
.layerpopup .chat_clist2 {width:100%; _width:auto; border:0; table-layout:fixed;}
.layerpopup .chat_clist2 th{text-align:left; color:#333; padding:6px 0 4px 10px; line-height:1.4em; border-bottom:solid 1px #e0e0e0;}
.layerpopup .chat_clist2 td{color:#333; white-space:nowrap; -ms-text-overflow:"ellipsis"; text-overflow:ellipsis; -o-text-overflow:ellipsis; padding:6px 0 4px; line-height:1.4em; border-bottom:solid 1px #e0e0e0;}
.layerpopup .chat_clist2 td span{color:#999; font-size:11px; font-family:tahoma; letter-spacing:0;}
.layerpopup .chat_clist2 tr.last-child th,
.layerpopup .chat_clist2 tr.last-child td{border-bottom:0;}
.layerpopup .btn_box2{padding:15px 0 0; text-align:center;}
.layerpopup .btn_box2 *{vertical-align:top;}
.layerpopup .chat_msg_1{color:#333; line-height:1.5em; padding-bottom:10px;}
.layerpopup .chat_msg_2{color:#878787; line-height:1.5em; padding-bottom:10px; letter-spacing:-1px;}
.layerpopup .chat_msg_3{color:#333; line-height:1.5em; padding-bottom:5px;}
.layerpopup .sub-nick{padding:6px 0 4px 10px !important; vertical-align:top;}
.layerpopup .sub-nick input {vertical-align:top; width:13px; height:13px; float:left; margin:0 10px 0 0;}
.layerpopup .sub-nick-area{overflow:hidden; white-space:nowrap; -ms-text-overflow:"ellipsis"; text-overflow:ellipsis; -o-text-overflow:ellipsis; letter-spacing:-1px;}
.layerpopup .sub-nick-area .pers-img{float:left; border:solid 1px #dddddd; vertical-align:top; margin:0 4px 0 0;}
.layerpopup .sub-nick-area .pers-nick{float:left; margin:0px 4px 0 0; color:#333;}
.layerpopup .sub-nick-area .pers-id{float:left; font-size:11px; font-family:tahoma; letter-spacing:0; color:#999}

#content-area .service_status {padding-bottom:2px;}
#content-area .service_status li {padding-top:5px;}
#content-area .service_status em {color:#ed1b23;font-weight:bold;font-style:normal}

#content-area .introduction_list {position:absolute;width:238px;margin:20px 0 0 0;padding:19px 0 9px 19px;border:2px solid #c7c7c7;background-color:#fff;text-align:left;}
#content-area .introduction_list li {padding-bottom:8px;color:#919191;font-size:11px;}
#content-area .introduction_list strong {color:#6e6e6e;}
#content-area .introduction_list a {color:#6e6e6e}
#content-area .introduction_list span {color:#c9c9c9}
#content-area .introduction_list em {color:#ff0000;font-style:normal;font-family:verdana;font-size:10px;}
#content-area .introduction_list .layer_close {position:absolute;top:5px;right:5px;}

.sendPost_layer {position:absolute;display:block;font-size:12px;}
.sendPost_layer .box01 {position:relative;padding:0 !important;background-color:#FFF;border:2px solid #777777;text-align:center;font-family:'돋움',dotum,Helvetica,sans-serif}
.sendPost_layer .box01 .cont{padding:12px 14px 11px;}
.sendPost_layer .btn_close {position:absolute;top:9px;right:9px;}
.sendPost_layer p {margin:0;padding:0;line-height:1.6}
.sendPost_layer .gray_txt {padding:5px 0 0 7px;color:#6b6b6b;font-size:11px;text-align:left}
.sendPost_layer .gbox {border:1px solid #e3e3e3}
.sendPost_layer .gbox div {padding:11px 11px 6px;border:1px solid #f1f1f1;background-color:#f8f8f8;}
.sendPost_layer .gbox dl {overflow:hidden;width:100%;margin:0;padding:0;text-align:left}
.sendPost_layer .gbox dt {float:left;width:54px;margin:0 0 2px 0;padding:0;font-weight:bold;background:url(https://cafe.pstatic.net/img/bg_dot.gif) 48px 2px no-repeat;}
.sendPost_layer .gbox dd {float:left;width:188px;margin:0 0 2px 0;padding:0}
.sendPost_layer .gbox dd em {color:#278f00;font-style:normal;font-size:11px;font-family:Thahoma;font-weight:bold;}
.sendPost_layer .warning_message {padding:10px 0 12px 0;color:#278f00;font-size:11px;border-bottom:1px solid #e8e8e8;line-height:1.2}
.sendPost_layer .btns {padding-top:10px;}
.sendPost_layer .content {margin:1px 6px 0 6px;padding-bottom:3px;}
.sendPost_layer p.txt_area {padding-top:6px;}
.sendPost_layer .line_btns {padding-top:10px;border-top:1px solid #e8e8e8;}
.sendPost_layer .btm_noti{margin-top:10px;padding:9px 0;border-top:1px solid #e6e6e6;background:#fdfdfd}
.sendPost_layer .btm_noti p{font-size:11px;letter-spacing:-1px;line-height:15px;color:#656565;text-align:center}
.sendPost_layer .btm_noti p strong{font-weight:normal;color:#333}
.sendPost_layer .btm_noti p a{margin-left:5px;color:#278e01;text-decoration:underline}
.sendPost_layer .btm_noti p .ico{padding-left:15px;background:url(https://cafe.pstatic.net/cafe4/ico_noti.gif) no-repeat 0 0;}

.restrict {position:absolute; overflow:visible; width:234px;border:1px solid #919191;color:#555;font-size:11px;letter-spacing:-1px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135,strength=3);}
.restrict p {position:relative; padding:19px 0 19px 24px;background-color:#fff;z-index:2;}
.restrict .shadow{ position:absolute; width:100%; height:100%; overflow:visible; z-index:1; _display:none;}
*:first-child+html .restrict .shadow{ display:none;}
.restrict .shadow1{ left:3px; top:3px; background:url(https://ssl.pstatic.net/static/common/layer/shadow1.png);}
.restrict .shadow2{ left:2px; top:2px; background:url(https://ssl.pstatic.net/static/common/layer/shadow2.png);}
.restrict .shadow3{ left:1px; top:1px; background:url(https://ssl.pstatic.net/static/common/layer/shadow3.png);}

.restrict-box {margin-bottom:8px;border:1px solid #cbcbcb;background-color:#fff;}
.restrict-box div {position:relative;border:4px solid #f9f9f9;}
.restrict-box p {margin:18px 128px 17px 26px;padding-left:49px;background:url(https://cafe.pstatic.net/cafe4/ico_warning.gif) left top no-repeat;border-right:1px solid #ebebeb;color:#444;line-height:1.4;letter-spacing:-1px;}
.restrict-box a {position:absolute;top:35px;right:16px}

/* 임시저장레이어 */
.worn_layer_popup { position:absolute; z-index:99; padding:3px 0 0 3px;font-size:12px;font-family:'돋움',dotum,Helvetica,sans-serif; text-align:left}
.worn_layer_popup p {margin:0;padding:0}
.worn_layer_popup .shadow1 { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://blogimgs.pstatic.net/nblog/mylog/post/shadow01.png', sizingMethod='scale'); width:100%;}
html>body .worn_layer_popup .shadow1 { background:url('https://blogimgs.pstatic.net/nblog/mylog/post/shadow01.png') transparent; }
.worn_layer_popup .shadow1_side { position:relative; top:-2px; left:-2px;}
.worn_layer_popup .shadow2 { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://blogimgs.pstatic.net/nblog/mylog/post/shadow02.png', sizingMethod='scale'); width:100%;}
html>body .worn_layer_popup .shadow2 { background:url('https://blogimgs.pstatic.net/nblog/mylog/post/shadow02.png') transparent; }
.worn_layer_popup .shadow2_side { position:relative; top:-1px; left:-1px;}
.worn_layer_popup .border_type { border:2px solid #777777; background-color:#ffffff; }
.worn_layer_popup .header { display:block; height:22px;_height:30px; padding:8px 0 0 13px;margin:0; background:#f4f4f4; font-weight:bold; font-size:12px; color:#444;}
.worn_layer_popup .closelayer { position:absolute; right:9px; top:9px; }
.worn_layer_popup .btn_box { text-align:center; padding:10px 0 15px 0; margin:10px 20px 0 20px; border-top:1px solid #e8e8e8; }
.worn_layer_popup .btn_box2 {padding:10px 0 15px 0;margin:0;text-align:center}
.worn_layer_popup .btn_box * { vertical-align:middle;}
.worn_layer_popup .content {margin:17px 19px 11px;}
.worn_layer_popup .txt_1 {padding-bottom:6px;color:#444;font-size:12px; line-height:17px;}
.worn_layer_popup .txt_1 strong {color:#278F00;}
.worn_layer_popup .txt_1 a {color:#004790; text-decoration:underline;}
.worn_layer_popup .txt_1 .norm{color:#444;}
.worn_layer_popup .xp_box {width:355px;height:80px;background:url(https://blogimgs.pstatic.net/nblog/mylog/post/word_rnd.gif) no-repeat;}

/* 점검공지 */
#naver_common_editor .notice_box{margin:0 0 20px; padding:14px 0 12px 15px; border:solid 1px #EEE; background-color:#FFF; font-size:11px; overflow:hidden; _zoom:1;}
#naver_common_editor .notice_box p.noti{float:left; width:149px; _width:165px; background:url(https://blogimgs.pstatic.net/nblog/mylog/post/ico_noti.gif) 0 1px no-repeat; margin:0; padding:0 0 0 16px; color:#00B250; line-height:1.4em;}
#naver_common_editor .notice_box .text{float:left; width:470px; line-height:1.4em; color:#888;}
#naver_common_editor .notice_box .clear{clear:both; font:0/0 arial; height:0; margin:0; padding:0;}

/* 좋아요한 멤버 리스트 */
.box-reply3 {
    zoom:1;margin:0; padding:11px 24px 27px 24px;
}
.box-reply3 .tit {
    margin: 12px 0 8px;
    padding: 0;
    font-size: 12px;
}
.like_empty {
    position: relative;
    top: 4px;
    margin-bottom: -10px;
    padding-top: 2px;
    font-size: 11px;
    letter-spacing: -1px;
    letter-spacing: -1px;
    color: rgb(109, 109, 109);;
}
.like_list {
    padding: 10px 0 5px;
}
.like_list:after{
    content: '';
    display: block;
    clear: both;
    zoom: 1;
}
.box-reply3 .like_list li {
    float: left;
    width: 347px;
    height: 26px;
}
.box-reply3 .like_list li.odd {
    width: 348px;

}
.box-reply3 .like_list li a {
    display: inline-block;
    padding: 7px 3px 0 0;
    font-weight: bold;
    vertical-align: top;
}
.box-reply3 .like_list li span {
    display: inline-block;
    padding-top: 9px;
    vertical-align: top;
}
.box-reply3 .like_list li img {
    margin: 5px 8px 0 0;
}
.box-reply3 .cc_paginate {
    margin-bottom: -14px;
}
.box-reply3 .board-box-line-dashed {
    border-bottom-style: dotted !important;
}

/* 댓글&답글 */
/* Paginate */
#content-area .cc_paginate{height:51px; padding:7px 0 0; text-align:center;}
#content-area .cc_paginate.cmt{height:29px;}
#content-area .cc_paginate *{ margin:0; padding:0;}
#content-area .cc_paginate a,
#content-area .cc_paginate strong{ _position:relative; display:inline-block; margin-right:-5px; padding:4px 8px 2px 8px; text-decoration:none !important; line-height:normal; font-weight:bold; font-size:12px; background:url(https://ssl.pstatic.net/static/common/paginate/line_pg4.gif) no-repeat 0 5px;}
#content-area .cc_paginate a.first-child,
#content-area .cc_paginate strong.first-child{background:none;}
#content-area .cc_paginate a.pre,
#content-area .cc_paginate a.pre_end,
#content-area .cc_paginate a.next,
#content-area .cc_paginate a.next_end{font:11px '돋움',dotum,Helvetica,sans-serif}
#content-area .cc_paginate a.pre{ padding:4px 10px 2px 17px; background:url(https://ssl.pstatic.net/static/common/paginate/bu_pg4_l1.gif) no-repeat right 4px !important;}
#content-area .cc_paginate a.pre_end{ padding:4px 10px 2px 16px; background:url(https://ssl.pstatic.net/static/common/paginate/bu_pg4_l2.gif) no-repeat right 4px !important;}
#content-area .cc_paginate a.next{ padding:4px 18px 2px 11px; background:url(https://ssl.pstatic.net/static/common/paginate/bu_pg4_r1.gif) no-repeat left 4px !important;}
#content-area .cc_paginate a.next_end { padding:4px 16px 2px 9px; background:url(https://ssl.pstatic.net/static/common/paginate/bu_pg4_r2.gif) no-repeat left 4px !important;}
/* 엮인글 */

/* layer popup */
.layerpop {position:relative; font-size:12px; font-family:'돋움',dotum,Helvetica,sans-serif; background:url(https://blogimgs.pstatic.net/nblog/spc.gif);}
.layerpop .shadow01{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://blogimgs.pstatic.net/nblog/shadow.png',sizingMethod='scale'); width:100%;}
html>body .layerpop .shadow01{background:url('https://blogimgs.pstatic.net/nblog/shadow.png') transparent;}
.layerpop .shadow01_side{position:relative; top:-2px; left:-2px;}
.layerpop .shadow02{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://blogimgs.pstatic.net/nblog/shadow02.png',sizingMethod='scale'); width:100%;}
html>body #layerpop .shadow02{background:url('https://blogimgs.pstatic.net/nblog/shadow02.png') transparent;}
.layerpop .shadow02_side{position:relative; top:-1px; left:-1px;}
.layerpop .border_type{border:2px solid #777777; background-color:#FFFFFF;}
.layerpop .close{position:absolute; top:7px; right:8px; background-color:#FFFFFF;}
.layerpop .content {margin:13px 20px 0 20px; border-bottom:1px solid #E8E8E8;}
.layerpop .content .q1 {margin:0; padding:0 0 8px 0; font-size:12px; font-weight:normal; color:#222222; line-height:1.5; text-align:left;}
.layerpop .content .q2 {margin:0; padding:0 0 8px 0; font-size:12px; font-weight:normal; color:#222222; text-align:left;}
.layerpop .content .q2 input {margin:0 2px 0 0; padding:0;}
* html .layerpop .content .q2 input {height:15px; height:15px; margin:0 2px 0 0; padding:0;}
.layerpop .btn {margin:0; padding:10px 0 10px 0; text-align:center;}

/* Paginate */
.paginate{padding:0; text-align:center;}
.paginate *{margin:0; padding:0;}
.paginate a,
.paginate strong{ _position:relative; margin-left:-7px; font-weight:bold; display:inline-block; padding:3px 8px 1px 7px; color:#313031; border-left:1px solid #ccc; border-right:1px solid #ccc; text-decoration:none; line-height:normal; font:bold 12px '돋움',dotum,Helvetica,sans-serif; background:#fff;}
.paginate strong{ color:#ff8600 !important;}
.paginate a:hover{ background:#F7F7F7; }
.paginate a.pre{ padding:3px 8px 1px 16px; background:url(https://ssl.pstatic.net/static/common/paginate/bu_pg1_l1.gif) no-repeat 8px 6px !important; border:none; font-weight:normal; }
.paginate a.pre_end{ padding:3px 8px 1px 16px; background:url(https://ssl.pstatic.net/static/common/paginate/bu_pg1_l2.gif) no-repeat 4px 6px !important; border:none; border-right:1px solid #ccc; font-weight:normal;}
.paginate a.next{ padding:3px 16px 1px 8px; background:url(https://ssl.pstatic.net/static/common/paginate/bu_pg1_r1.gif) no-repeat 37px 6px !important; border:none; font-weight:normal; }
.paginate a.next_end{ padding:3px 16px 1px 8px; background:url(https://ssl.pstatic.net/static/common/paginate/bu_pg1_r2.gif) no-repeat 37px 6px !important; border:none; border-left:1px solid #ccc; font-weight:normal;}

.paginate2{margin-top:17px;text-align:center}
.paginate2 a ,.paginate2 strong{display:inline-block;padding:2px 6px 0 5px;font-family:'돋움',dotum,Helvetica,sans-serif;font-size:12px;font-weight:bold;text-decoration:none}
.paginate2 strong{text-decoration:underline}
.paginate2 .pre ,.paginate2 .next{font-weight:normal}
.paginate2 .pre span{display:inline-block;padding:0 3px 0 4px;font-size:8px;vertical-align:middle}
.paginate2 .next span{display:inline-block;padding:0 4px 0 3px;font-size:8px;vertical-align:middle}
/* 상품등록 게시판 개선 */
.comm_layer {position:absolute;padding:17px 20px 10px;border:1px solid #888;background-color:#fff;z-index:100;}
.comm_layer .btn_box { text-align:center; padding:10px 0 0 0; margin:10px 0 0; border-top:1px solid #e8e8e8; }
.comm_layer .btn_box.nomargin {margin:10px 0 0; padding:10px 0 0;} /*0724*/
.comm_layer .btn_box * { vertical-align:middle;}
.comm_layer .closelayer { position:absolute; right:8px; top:8px; }
.comm_layer .dc_1 {line-height:20px; color:#666; padding-bottom:5px;letter-spacing:-1px;}
.comm_layer .dc_1 span {color:#aaa;}
.comm_layer .dc_2 {margin-top:9px;}
.comm_layer .safenum-box1{line-height:20px; color:#666; padding-bottom:5px;letter-spacing:-1px;}
.comm_layer .safenum-box2{border:solid 1px #e3e3e3; overflow:hidden; zoom:1;}
.comm_layer .safenum-box2 div{border:solid 1px #f1f1f1; background-color:#f8f8f8; padding:16px 0 11px 19px; font-weight:bold; line-height:21px; overflow:hidden; zoom:1;}
.comm_layer .safenum-box2 div em{font-style:normal; color:#61ae31;}
.comm_layer .safenum-box2 .vt{margin-left:5px}
.comm_layer .safenum-box3{padding-top:8px;}
.comm_layer .safenum-box3 li{line-height:18px; color:#666; padding:0 0 0 9px; background:url(https://cafe.pstatic.net/cafe4/bu_2x2_a1.gif) 3px 5px no-repeat; letter-spacing:-1px;}
.comm_layer .safenum-box4{padding:7px 0 5px;}
.comm_layer .safenum-box4 li{line-height:20px; color:#666; padding:0 0 0 9px; background:url(https://cafe.pstatic.net/cafe4/bu_2x2_a1.gif) 3px 5px no-repeat;}
.comm_layer.experience_layer {text-align:left;padding:0;border:0;background-color:#fff;z-index:2;}
.comm_layer.experience_layer p {line-height:1.7}
.comm_layer.experience_layer p span {color:#ff0000;}
.comm_layer.experience_layer .sub_experience_layer {position:relative;padding:17px 20px 10px;border:1px solid #888;z-index:2}
.comm_layer.experience_layer iframe {position:absolute;top:0;left:0;_width:100%;_height:204px;}

/* 지식활동카페 */
.cafe_kin {position:relative;margin-top:16px;padding-top:1px;zoom:1}
.cafe_kin .tit{margin:1px 0 0 19px;padding-bottom:15px;line-height:18px}
.cafe_kin .tit .more{display:inline-block;font-size:11px;letter-spacing:-1px;text-decoration:underline}
.cafe_kin .tit.tit_v1{padding-bottom:7px}
.cafe_kin .rolling_area{margin:3px 0 0 20px;overflow:hidden;height:65px}
.cafe_kin .rolling_area li {height:22px;padding:0 0 0 20px;background:url(https://cafe.pstatic.net/img/qboard/ico_q.png) no-repeat;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://cafe.pstatic.net/img/qboard/ico_q.png', sizingMethod='crop');_background:none;}
.cafe_kin .rolling_area li input {border:0}
.cafe_kin .rolling_area li .user_id ,.cafe_kin .rolling_area li .date{display:inline-block;filter:alpha(opacity=50); -ms-filter:"alpha(opacity=50)"; opacity:0.5;font-family:tahoma;_font-family:'굴림';font-size:11px;zoom:1;}
.cafe_kin .rolling_area li .user_id{padding:0 2px}
.cafe_kin .rolling_area .answer{display:inline-block;margin-left:3px;font-size:11px;letter-spacing:-1px;text-decoration:underline !important}
.cafe_kin .empty_area{margin-bottom:10px}
.cafe_kin .empty_area .top_line{height:1px;filter:alpha(opacity=50);-ms-filter:"alpha(opacity=50)"; opacity:0.5;zoom:1;}
.cafe_kin .empty_area .btm_line{height:1px;filter:alpha(opacity=80);-ms-filter:"alpha(opacity=80)"; opacity:0.8;zoom:1;}
.cafe_kin .empty_area p{padding:20px 0 18px;text-align:center}
.cafe_kin .empty_area p span{display:inline-block;font-size:11px;line-height:18px;letter-spacing:-1px}
.cafe_kin .more_view {position:absolute;top:5px;right:15px;display:inline-block;margin-left:3px;font-size:11px;letter-spacing:-1px;text-decoration:underline !important;*zoom:1}
.cafe_kin2{margin-top:6px}
.cafe_kin2 .tit{margin-left:11px}
.cafe_kin2 .rolling_area{margin-left:12px}
.cafe_kin_set{position:absolute;top:10px;right:1px;display:inline-block;font-size:11px;letter-spacing:-1px;text-decoration:underline !important}
.cafe_kin_set .ico{display:inline-block;width:3px;height:10px;*height:13px;margin-left:3px;padding:0 6px 0 2px;background:url(https://cafe.pstatic.net/img/bu_arrow_sub2.gif) 0 3px no-repeat}

.board_sub_tab {position:relative;height:25px;padding:11px 3px 0 0;zoom:1;text-align:right;z-index:2}
.board_sub_tab p {position:absolute;top:8px;left:14px;font-size:11px;letter-spacing:-1px;}
.board_sub_tab p strong {color:#ff1e1e;font-weight:normal;}
.board_sub_tab p strong span {font-weight:bold;}
.board_sub_tab a {display:inline-block;font-size:11px;letter-spacing:-1px;vertical-align:middle;}
.board_sub_tab .btn_help img {margin-top:-3px;*margin:0}
.board_sub_tab span {display:inline-block;margin:-2px 3px 0 3px}
.board_sub_tab .help_layer {position:absolute;top:28px;right:0;width:226px;padding:9px 33px 7px 9px;border:1px solid #8b8c91;background-color:#fff;}
.board_sub_tab .help_layer p{position:static;color:#868688;line-height:14px;text-align:left;}
.board_sub_tab .help_layer a {position:absolute;top:3px;right:3px;color:#000}
.board_sub_tab .help_layer .point {position:absolute;top:-6px;right:4px;width:9px;height:6px;margin:0 !important;background:url(https://cafe.pstatic.net/img/bg_point.gif) no-repeat;}
.board_sub_tab .fl{padding-left:14px}
.board_sub_tab .fr{margin:-2px 2px 0 0}
.board_sub_tab .bar{margin:0 0 0 -1px}
.board_sub_tab .num{font-size:11px;font-weight:normal}
.board_sub_tab .app_set{margin-top:0}
.board_sub_tab .app_set a{text-decoration:underline}
.board_sub_tab .app_set .arrow{font-size:6px;vertical-align:middle}
.board_sub_tab .fr .app_cate{position:absolute;top:6px;right:5px;width:148px;background:#fff !important}

.txt_ready {clear:both;padding:7px 0 2px 0;line-height:1.2;zoom:1}
.txt_ready strong {font-weight:normal;}
.txt_ready a {text-decoration:underline;}

.n_dir_promotion{position:relative;height:57px;margin-bottom:8px;background:url(https://cafe.pstatic.net/img/section/promotion/txt_n_dir.gif) no-repeat 13px 13px;border:1px solid #ccc;background-color:#ffffec;zoom:1}
.n_dir_promotion a{position:absolute;top:33px;right:16px}

.ly_sbjt{display:none;position:absolute;z-index:1000;background-color:#fff;line-height:0}
.ly_sbjt ul{position:relative;padding:3px 0 5px;border:1px solid #888}
.ly_sbjt li{vertical-align:top}
.ly_sbjt li a{display:block;background-color:#fff;color:#4c4c4c;line-height:12px;text-decoration:none}
.ly_sbjt li a:hover{background-color:#eee;text-decoration:none}
.ly_sbjt li span{display:block;padding:4px 9px 0 4px;cursor:pointer}

/* me2day 레이어*/
.n_me2_promotion{position:relative;margin-bottom:8px;border:1px solid #cfcfcf;background-color:#ffffec}
.n_me2_promotion h3{margin:24px 0 11px 5px}
.n_me2_promotion .close{position:absolute;top:8px;right:8px}

/* 상품등록게시판 레이어 */
.ly_pop {position:absolute;z-index:999;border:1px solid #666;background:#fff}
.ly_pop .btn_clse{position:absolute;top:8px;right:8px}
.ly_pop .cont_area{padding:25px 20px 0}
.ly_pop .cont_area .noti{padding-left:1px;color:#333;line-height:14px;text-align:center}
.ly_pop .btm_area{margin:12px 20px 10px;padding-top:10px;border-top:1px solid #e5e5e5;text-align:center}

.ly_pop_empty { display:none; width:241px;top:132px;left:265px; }

/* 비밀메모추가 */
.secret_reply{display:inline-block;overflow:hidden;width:743px;padding:23px 0 18px 0;}
.secret_reply .txt{font-weight:normal;}
.secret_reply .txt span{display:inline-block;}
.secret_reply .txt img{vertical-align:middle;margin:0 5px 2px 1px;}
textarea.memo-secret{background:red}

/* 2013.03.20 음성 캡차추가 */
#main-area .bg-color{background-color:#f9f9f9}
#main-area .m-tcol-c{color:#666;word-wrap:break-word}
#main-area select, #main-area textarea, #main-area .list-search input{background-color:#fff;border:1px solid #e5e5e5 !important}
#main-area .btn span,#main-area .btn p{background-image:url(https://cafe.pstatic.net/style/s01_03/btn-bg.gif)}
.capcha_desc{padding-top:5px;color:#424242;line-height:19px}
.capcha_desc p{margin-bottom:9px}
.capcha_desc .input_txt2{display:block;height:15px;margin-bottom:10px;padding:5px 0 0 4px;border:1px solid #333;color:#333;ime-mode:disabled;text-transform:uppercase;font-size:11px;letter-spacing:-1px}
.capcha_desc a{font-size:11px;letter-spacing:-1px;text-decoration:underline;line-height:top;color:#707070}
.capcha_desc span.line{position:relative;padding:0 1px;top:0;font-size:10px;color:#d9d9d9;vertical-align:top}
.capcha_desc .txt{display:inline;margin:0 0 0 13px;color:#9d9d9d;font-size:11px;letter-spacing:-1px;line-height:12px;vertical-align:top}
.capcha_desc .txt em{display:inline-block;padding:0 0 0 16px;background:url(https://cafe.pstatic.net/img/section/bg_sprite_3.gif) no-repeat 0 -2276px;color:#35b300;font-style:normal;line-height:12px;}
.capcha_desc .txt strong{display:inline-block;padding:0 0 0 16px;background:url(https://cafe.pstatic.net/img/section/bg_sprite_3.gif) no-repeat 0 -2306px;color:#ff7914;font-weight:normal;line-height:12px;}
.cafe_agree_chk{margin-bottom:20px;padding:9px 0 8px 15px;color:#2e2e2e}
.cafe_agree_chk input{vertical-align:middle}
.cafe_agree_chk a{color:#2e2e2e;text-decoration:underline}

/* 목록 앨범형 */
#main-area .over_hidden + dl dt .m-tcol-c{display:inline-block;*display:inline;padding-right:1px;max-width:127px;*max-width:123px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;*zoom:1}
#main-area .over_hidden + dl dt .m-tcol-c.width_comment{max-width:89px;*max-width:84px;}
#main-area .over_hidden + dl dt a {vertical-align:top;}

/* 댓글 캡차 */
#content-area .captcha_bx{margin:0;padding:0}
#content-area .captcha_wrt{padding:20px 0 5px 31px}
#content-area .captcha_wrt .item{margin-left:-2px;font-size:12px;font-weight:bold;line-height:12px}
#content-area .captcha_wrt .post_captcha{padding-top:8px;zoom:1}
#content-area .captcha_wrt .post_captcha:after{display:block;clear:both;content:''}
#content-area .captcha_wrt .post_captcha div{padding:0 !important}
#content-area .captcha_wrt .post_captcha .captcha_img_view{float:left;position:relative;width:200px;height:125px;margin:0 20px 0 0}
#content-area .captcha_wrt .post_captcha .captcha_img_view .line{display:block;position:absolute;top:-1px;left:-1px;width:200px;height:125px;border:1px solid}
#content-area .captcha_wrt .post_captcha .captcha_input_dsc{float:left;margin-top:-3px}
#content-area .captcha_wrt .post_captcha .captcha_input_dsc .dsc{line-height:19px}
#content-area .captcha_wrt .post_captcha .captcha_input_dsc .input_txt{display:block;width:183px;height:19px;margin:8px 1px 9px;padding:0 4px 0;border:1px solid;border-color:#c5c5c5 #d9d9d9 #d9d9d9 #c5c5c5;color:#999;font-size:11px;letter-spacing:-1px;line-height:22px;text-transform:uppercase}
#content-area .captcha_wrt .post_captcha .captcha_input_dsc .txt{display:inline-block;margin-right:10px;padding:0 1px;font-size:11px;letter-spacing:-1px;line-height:15px;text-decoration:underline;vertical-align:top}
#content-area .captcha_wrt .post_captcha .msg{display:inline-block;*display:inline;font-size:11px;letter-spacing:-1px;vertical-align:top}
#content-area .captcha_wrt .post_captcha .msg em,#content-area .captcha_wrt  .post_captcha .msg strong{display:inline-block;padding-left:16px;background:url(https://cafe.pstatic.net/img/sp_captcha.gif) no-repeat;line-height:15px}
:root #content-area .captcha_wrt .post_captcha .captcha_input_dsc .txt{line-height:16px \9}
:root #content-area .captcha_wrt .post_captcha .msg em,:root #content-area .captcha_wrt .post_captcha .msg strong{line-height:16px \9}
#content-area .captcha_wrt .post_captcha .msg em{background-position:0 -24px;color:#35b300;font-style:normal}
#content-area .captcha_wrt .post_captcha .msg strong{background-position:0 0;color:#ff7914;font-weight:normal}
#content-area .reply .captcha_wrt{padding:20px 0 9px 2px}
#content-area .reply .board-box-line-dashed{margin-top:12px}

/* 생명사랑 : 통합검색과 동일*/
#main-area .su_prevention{margin-bottom:15px}
.su_prevention{width:771px;height:392px;margin-top:15px;background-color:#fff;border:1px solid #dddfe2}
.su_prevention .advice{height:198px;padding:31px 10px 9px 24px}
.su_prevention .advice .tit{overflow:hidden;width:369px;height:57px;background:url(https://ssl.pstatic.net/sstatic/keypage/outside/prevention/img/img_lst.png) no-repeat 4px 0;line-height:0;text-indent:-999px}
.su_prevention .advice .advice_lst{overflow:hidden;height:128px;margin-top:13px;padding-left:205px;background:url(https://ssl.pstatic.net/sstatic/keypage/outside/prevention/img/bg_main.png) no-repeat 0 0}
.su_prevention .advice .advice_lst .cal_lk{float:left;width:177px}
.su_prevention .advice .advice_lst .cal_lk:first-child{width:159px}
.su_prevention .advice .advice_lst h5{margin:21px 0 6px;font-size:12px;color:#333}
.su_prevention .advice .advice_lst ul{line-height:20px;color:#252424}
.su_prevention .advice .advice_lst .r_txt{color:#f35149}
.su_prevention .advice .advice_lst li{overflow:hidden}
.su_prevention .advice .advice_lst li a{padding-right:7px;background:url(https://ssl.pstatic.net/sstatic/keypage/outside/prevention/img/img_lst.png) no-repeat 100% -265px;color:#00c;text-decoration:none}
.su_prevention .advice .advice_lst li a:hover{text-decoration:underline}
.su_prevention .advice .advice_lst li .ico_adv{display:block;overflow:hidden;float:left;width:45px;height:20px;margin-right:4px;background:url(https://ssl.pstatic.net/sstatic/keypage/outside/prevention/img/img_lst.png) no-repeat 0 -199px;line-height:0;text-indent:-999px}
.su_prevention .cont_lk{overflow:hidden;height:56px;padding:10px;_height:76px;background:#f2f1f1}
.su_prevention .cont_lk .lk_tit{display:block;overflow:hidden;float:left;height:56px;background:url(https://ssl.pstatic.net/sstatic/keypage/outside/prevention/img/img_lst.png) no-repeat;line-height:0;text-indent:-999px}
.su_prevention .cont_lk .lk_tit.lk1{width:184px;background-position:-196px -78px}
.su_prevention .cont_lk .lk_tit.lk2{width:176px;background-position:-199px -135px}
.su_prevention .cont_lk .lk_tit.lk3{width:198px;background-position:-198px -192px}
.su_prevention .help_lk{overflow:hidden;height:158px;padding-left:31px}
.su_prevention .help_lk .lk_lst{float:left;width:272px;padding-top:15px}
.su_prevention .help_lk .lk_lst h5{overflow:hidden;width:118px;height:26px;margin:0 0 4px;background:url(https://ssl.pstatic.net/sstatic/keypage/outside/prevention/img/img_lst.png) no-repeat 0 -144px;line-height:0;text-indent:-999px}
.su_prevention .help_lk .lk_lst:first-child h5{background-position:0 -87px}
.su_prevention .help_lk .lk_lst li{padding-left:8px !important;background:url(https://ssl.pstatic.net/sstatic/keypage/outside/prevention/img/img_lst.png) no-repeat 0 -260px;line-height:19px}
.su_prevention .help_lk .lk_lst li a{color:#00c;text-decoration:none}
.su_prevention .help_lk .lk_lst li a:hover{text-decoration:underline}

/* 키워드 알림 */
.spalarm{background:url(https://cafe.pstatic.net/img/searchincafe/sp_alarm.png) no-repeat}
.keyword_alarm{margin:15px 17px 12px;color:#252525}
.keyword_alarm.rgt{margin:10px 0 0;text-align:right}
.keyword_alarm .ico_alarm{display:inline-block;margin:-2px 4px 0 0;width:12px;height:14px;background-position:0 -1px;vertical-align:middle}
.keyword_alarm strong{color:#3fbf18;font-weight:bold}
.keyword_alarm a{padding:0 5px 0 4px;background-position:100% -14px;color:#7c7c7c;text-decoration:underline}

/* 카페 가입하기 수정 */
#main-area .ntce img{vertical-align:-3px}
#main-area .ntce .txt{font-size:12px;color:#7b7b7b}
#main-area .ntce .txt2{color:#ff4646}

/* OG SE 상속 초기화 */
.og i {font-style:normal !important;}
.og li {list-style:none !important;}
.og strong {font-weight:normal !important;}
.og strike,.og u {text-decoration:none !important;}

/* OG */
.og{display:inline-block;width:513px;font-family: '돋움',dotum,Helvetica,sans-serif !important;text-decoration:none !important;}
.og .btn_close{background:url("https://cafe.pstatic.net/cafe4/sp_og.png") no-repeat}
.og .box{display:block;position:relative;background:#fff !important;font-weight:normal;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:13px;text-align:left;text-indent:0;white-space:normal;word-spacing:normal;color:#000;color:#000;text-decoration:none !important;}
.og .thumb{overflow:hidden;position:relative;text-align:center;font-size:0}
.og .thumb .bd{display:block;position:absolute;left:0;top:0;right:0;bottom:0;border:1px solid #000;filter:alpha(opacity=8);opacity:.08}
.og .thumb.mov .bd{display:block;position:absolute;left:0;top:0;right:0;bottom:0;background:#000;filter:alpha(opacity=15);opacity:.15}
.og .thumb img{width:100%}
.og .btn_close{z-index:10;position:absolute;top:7px;right:7px;width:11px;height:11px;background-position:-18px -22px;text-indent:-5000px}
.og .thumb a{top:0;right:0;width:22px;height:22px;background-position:-77px -1px}
.og .thumb .ico_video{display:block;overflow:hidden;position:absolute;left:0;top:0;right:0;bottom:0;background:url("https://cafe.pstatic.net/cafe4/ico_og_media.png") 50% 50% no-repeat;color:transparent}
.og .s_size{float:left;width:136px;height:136px}
.og .b_size{height:268px}
.og .b_size img{margin-top:-20px}
.og .txt{position:relative;overflow:hidden;height:102px;padding:16px;border:1px solid #ddd;font-family:'돋움',Dotum,Helvetica,sans-serif}
.og .txt div:first:child{margin-top:0}
.og .s_size + .txt{border-width:1px 1px 1px 0}
.og .b_size + .txt{border-width:0 1px 1px 1px}
.og .tit{font-weight:bold;font-size:14px !important;color:#000;line-height:20px !important;text-align:left}
.og .dsc{margin-top:5px;font-size:12px !important;color:#7d7d7d;line-height:17px !important;text-align:left}
.og .cp{margin-top:6px;font-size:11px !important;color:#aaafb8;text-align:left}
.og .link{display:block;overflow:hidden;position:absolute;left:0;top:0;right:0;bottom:0;background:url(https://ssl.pstatic.net/static/blank.gif);cursor:pointer;color:transparent !important;text-decoration:none}

/* 좋아요버튼 */
.btn_like{display:inline-block;height:19px;vertical-align:top;margin-top:-2px;padding-left:5px;}
.btn_like, .btn_like .cnt, .btn_like .ico_heart, .btn_likeit .ico_heart{background:url('https://cafe.pstatic.net/img/sp_like_view.png') 0 40px;}
.btn_like .ico_heart, .btn_likeit .ico_heart{display:inline-block;width:14px;height:14px;background-position:-14px -21px;}
.btn_like .cnt{display:inline-block;height:100%;font-size:12px;font-weight:bold;color:#666;background-position:100% 0;padding-right:7px;margin-right:-3px;vertical-align:top;line-height:21px;}
.btn_like_on .ico_heart{background-position:0 -21px;}

.btn_likeit{
    display:inline-block;
    position: relative;
    top: -2px;
    height: 17px;
    margin-left: 3px;
    padding: 0 7px 0 5px;
    border: 1px solid #ddd;
    border-radius: 1px;
    background-color: #fff;
    vertical-align: top;
    line-height: 17px;
}
.btn_likeit .ico_heart {
    height: 9px;
    margin-top: 4px;
    background-position: -14px -26px;
    vertical-align: top;
}
.btn_likeit.on .ico_heart{
    background-position: 0 -26px;
}
.btn_likeit .cnt {
    display:inline-block;
    height:100%;
    margin-top: 2px;
    font-size:12px;
    font-weight:bold;
    color:#666;
    vertical-align: top;

}
.btn_likeit.on .cnt {
    color:#ff4747
}

/* 이벤트페이지 이미지 여백제거 */
.article_quarterly{font-size:0}

/* article board (카페검색글) */
.srch_area .group-tit {padding:0px 5px 16px 5px;}
.srch_area h4 strong{font-weight:bold;letter-spacing:0}
.srch_area .board-box .board-list{padding:9px 0 6px 27px}
.srch_area .board-box .current-article .board-list{background: url(https://cafe.pstatic.net/img/searchincafe/bu_arr_more.gif) no-repeat 14px 50%;}
.srch_area .article-board .view-count{padding-top:5px;filter: alpha(opacity=55);-ms-filter: "alpha(opacity=55)";opacity:.55;}

/* 본인인증 */
.self_certify {
    padding:24px 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.self_certify .desc {
    color: #666;
    font-size: 11px;
    line-height: 17px;
}
.self_certify .desc p {
    margin: 5px 0 12px;
}
.self_certify .desc strong,.self_certify .tip strong {
    display: block;
    margin-bottom: 4px;
    color: #ff1e1e;
    font-size: 12px;
}
.self_certify .tip {
    margin-top: 17px;
    padding-top: 25px;
    border-top: dashed 1px #CACACA;
    color: #999;
    font-size: 11px;
    line-height: 17px;
}
.self_certify .tip strong {
    color: #666;
}
.self_certify .tip li {
    font-size: 11px;
    padding-left: 6px;
    background: url(https://cafe.pstatic.net/cafe4/bu_2x2_a1.gif) 0 6px no-repeat;
}
.self_certify .red_card_list {
    padding-bottom: 14px;
}
.self_certify .red_card_list li {
    padding-top: 10px;
    line-height: 18px;
}
.self_certify .red_card_list li strong {
    margin-bottom: 0;
    font-weight: normal;
    color: #000;
}
.self_certify .red_card_list p {
    margin: 0;
    color: #666;
}
.info_end.invite {
    display: inline-block;
    margin: 10px 0 10px;
    font-size: 12px;
    color: #252525;
}
.info_end.invite a {
    display: inline-block;
    margin-left: 5px;
    padding-right: 5px;
    background: url(https://cafe.pstatic.net/img/bu_arr_gray.gif) no-repeat 100% 5px;
    color: #7c7c7c;
    text-decoration: underline;
    line-height: 17px;
}

/* naver music player */
.sp_nmp {background:url(https://ssl.pstatic.net/static/cafe/sp_nmp_170116.png) 60px 60px no-repeat;}
.black .sp_nmp{background:url(https://ssl.pstatic.net/static/cafe/sp_nmp_black_170116.png) 60px 60px no-repeat;}
.nmp{display:inline-block;width:480px;position:relative;padding:15px 0;font-family:Helvetica,NanumGothic,'나눔고딕',Dotum,'돋움',sans-serif !important;text-align:left;}
.nmp a{text-decoration:none;}
.nmp em{font-style:normal;}
.nmp div,.nmp span, .nmp em, .nmp strong {line-height:1.5 !important;}
.nmp ul{margin:0 !important;list-style:none !important;}
.nmp_header {position:relative;height:85px;padding:24px 19px;background-color:#eff8ff;border:1px solid #dee6ed;border-bottom:none;}
.nmp_header .nmp_logo_area{height:18px;}
.nmp_header .nmp_link_logo{position:absolute;top:14px;left:9px;padding:10px;}
.nmp_header .nmp_logo{display:inline-block;width:46px;height:18px;background-position:0 0;}
.nmp_header .nmp_bu_right{display:inline-block;vertical-align:middle;width:5px;height:11px;margin-left:3px;background-position:-46px -15px;}
.nmp_title_area {position:relative;padding-top:22px;}
.nmp_group {display:inline-block;width:390px;}
.nmp_group .nmp_group_title{display:table;table-layout:fixed;font-size:18px;color:#444;height:18px;}
.nmp_group .nmp_group_name_area{display:table-cell;vertical-align:middle;}
.nmp_group .nmp_group_name{display:inline-block;max-width:345px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.nmp_group .nmp_list_num{display:table-cell;vertical-align:middle;font-size:14px;color:#737373;font-weight:normal;padding-left:5px;}
.nmp_title_area .nmp_btn_play {position:absolute;top:27px;right:0;width:39px;height:39px;background-position:0 -19px;}
.nmp_group .nmp_group_by{font-size:14px;color:#9ea2a4;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.nmp_body{border:1px solid #ededed;border-top:none;background-color:#fff}
.nmp_body .nmp_list{overflow-x:auto;max-height:318px;}
.nmp_body .nmp_list::-webkit-scrollbar{background-color:#fafafa;}
.nmp_body .nmp_list::-webkit-scrollbar-track{background-color:#fafafa;}
.nmp_body .nmp_list::-webkit-scrollbar-thumb{border-radius:10px;-webkit-border-radius:10px;border:4px solid #fafafa;background-color:#c1c1c1;}
.nmp_body .nmp_list ul{margin:13px 0 !important;padding:0 !important;}
.nmp_body .nmp_link_item{display:block;padding:7px 19px;}
.nmp_body .nmp_link_item:hover{background-color:#f9f9f9;}
.nmp_item{list-style:none !important;margin:0 !important;}
.nmp_item .nmp_info{display:table;table-layout:fixed;width:430px}
.nmp_item .nmp_thumb{display:table-cell;vertical-align:middle;padding-right:20px;}
.nmp_item .nmp_text{display:table-cell;width:347px;vertical-align:middle;padding-right:10px;}
.nmp_item .nmp_title{display:inline-block;max-width:228px;font-size:14px;color:#666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.nmp_item .nmp_artist{display:inline-block;max-width:105px;margin-left:6px;font-size:13px;color:#afafaf;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.nmp_item .nmp_btn_area{display:table-cell;width:13px;vertical-align:middle;}
.nmp_item .nmp_btn_play{display:inline-block;width:10px;height:12px;background-position:-47px 0;}
.nmp .nmp_link_more{display:block;border-top:1px solid #f2f2f2;text-align:center;font-size:12px;color:#afafaf;padding:16px 0;margin:0 19px;}
.nmp_link_more .nmp_cur_num{margin-left:7px;color:#00c73c;}
.nmp_link_more .nmp_list_num{color:#b5b5b5;}
.nmp_footer{margin:11px 20px 0;color:#afafaf;font-size:12px !important;white-space:nowrap}
.nmp_footer .nmp_name{color:#00c73c;}
.nmp_footer .npm_help{padding-top:3px}
.nmp_footer .icon_help{display:inline-block;vertical-align:top;width:16px;height:16px;margin-left:3px;background-position:-44px -30px;}
/* naver music player (black ver.) */
.nmp.black .nmp_header{padding-top:25px;background-color:#333;border-color:#333;}
.nmp.black .nmp_group_title{color:#ddd;}
.nmp.black .nmp_group .nmp_group_by{color:#696969;}
.nmp.black .nmp_body{background-color:#2b2b2b;border-color:#333;}
.nmp.black .nmp_body .nmp_list{scrollbar-3dlight-color:#252525;scrollbar-arrow-color:#000;scrollbar-base-color:#252525;scrollbar-darkshadow-color:#252525;scrollbar-highlight-color:#555;scrollbar-face-color:#555;scrollbar-shadow-color:#555;scrollbar-track-color:#252525;}
.nmp.black .nmp_body .nmp_list::-webkit-scrollbar{background-color:#252525;}
.nmp.black .nmp_body .nmp_list::-webkit-scrollbar-track{background-color:#252525;}
.nmp.black .nmp_body .nmp_list::-webkit-scrollbar-thumb{border-radius:10px;-webkit-border-radius:10px;border:4px solid #252525;background-color:#555;}
.nmp.black .nmp_link_item:hover{background-color:#313131;}
.nmp.black .nmp_item .nmp_title{color:#ddd;}
.nmp.black .nmp_item .nmp_artist{color:#666;}
.nmp.black .nmp_link_more{border-color:#333;}