@charset "euc-kr";

/* *** common style *** */
#content-area .box-reply2 {zoom:1;margin:0; padding:11px 26px 16px 24px;}
#content-area .box-reply2 input {border:none; font-weight:normal; vertical-align:top;}
#content-area .box-reply2 .paging {padding-top:20px;}
#content-area .cmlist{margin:0; padding:0;}
#content-area .cmlist li{list-style:none; margin:0; padding:0 0 7px; height:1%;}
#content-area .cmlist li.reply{padding-left:29px}
#content-area .cmlist li.reply.insert{padding:9px 0 8px 44px; .padding:8px 0 3px 44px;}
#content-area .cmlist .board-box-line-dashed{height:1px; padding:0; overflow:hidden; font:0/0 arial; border-bottom-width:1px; border-bottom-style:dotted;}
#content-area .cmlist .h{height:20px; margin:0}
#content-area .cmlist .h.deleted{display:none;}
#content-area .cmlist .nonview{float:left; height:16px; padding-top:4px;}
#content-area .cmlist .date{float:left; font-size:11px; font-family:'옺',dotum,Helvetica,sans-serif; margin:2px 0 0 1px;}
#content-area .box-reply2 .author {position:relative;top:-2px;display:inline-block;width:41px;height:14px;margin:0 8px 0 -2px;border:1px solid;border-radius:8px;font-family:Dotum,"옺",Helvetica,sans-serif;font-size: 11px;font-weight:normal;line-height:18px;letter-spacing:-1px;text-align:center;text-indent:-1px;cursor:pointer}
#content-area .cmlist .author {line-height:20px}
@media screen and (-webkit-min-device-pixel-ratio:0){#content-area .box-reply2 .author {top:0;line-height:16px;}}
#content-area .cmlist .dsc_comm{float:left;margin:3px 0 0 7px;padding-left:10px;background:url(https://cafe.pstatic.net/cafe4/bu_arr.png) no-repeat 0 0;_background:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://cafe.pstatic.net/cafe4/bu_arr.png', sizingMethod='crop');font-size:11px;font-family:'옺',Dotum;letter-spacing:-1px}
#content-area .cmlist .dsc_comm a{float:left;}
#content-area .cmlist .btn_edit{float:right; margin:0; padding-top:3px;}
#content-area .cmlist .btn_edit a{display:inline-block; font-size:11px; font-family:'옺',dotum,Helvetica,sans-serif; letter-spacing:-1px;}
#content-area .cmlist .btn_edit span{display:inline-block; width:3px; font-size:11px; font-family:'옺',dotum,Helvetica,sans-serif; padding:0 2px 0 3px;}
#content-area .cmlist .comm{padding:0 0 3px 28px; margin: 3px 0 0 0; line-height:15px; text-align:left; word-break:break-all; word-wrap:break-word;}
#content-area .cmlist .comm_modify{padding:0; margin:0;}
#content-area .cmlist .nick{display:inline-block;}
#content-area .cmlist .clear{float:none; clear:both; height:0; font:0/0 arial; overflow:hidden;}
#content-area .cminput {margin:14px 0 0; padding:0; width:100%; border-collapse:collapse;table-layout:fixed;}
#content-area .cminput .box {font-family:옺滓 font-size:12px; border:1px #C4CAD1 solid; background:#FFFFFF;}
#content-area .cminput .ubox {font-family:옺滓 font-size:12px; border:1px #C4CAD1 solid; background:#FFFFFF;}
#content-area .cminput .i1 {width:29px; white-space:nowrap; vertical-align:top;}
#content-area .cminput .i2 {*padding-right:2px;}
#content-area .cminput .i2 .activitystop {padding-top:2px;text-decoration:none}
#content-area .cminput .i3 {position:relative;width:89px;text-align:right;vertical-align:bottom}
#content-area .cminput .i3 img {vertical-align:top;}
#content-area .cminput .i3 input{margin-right:3px}
#content-area .cminput .i3 p{margin:0 0 3px 5px;text-align:left}
#content-area .cminput .i3 p input{width:15px;height:15px;*width:13px;*height:13px;margin:-1px 0 1px;padding:0;vertical-align:middle}
#content-area .cminput .i3 p label{display:inline-block;font-family:'옺',dotum,Helvetica,sans-serif;font-size:11px;vertical-align:middle}
#content-area .cminput .i3 .btn_edit{float:none;position:absolute;top:0;right:0;text-align:right}
#content-area .cminput .i3 .btn_area{position:relative;*padding-bottom:1px}
#content-area .cminput .textarea {width:100%; margin:0; padding:1px 0; overflow:auto;-webkit-appearance:none;-webkit-border-radius:0; resize:none}
#content-area .cminput .comm_write_wrap{clear:both;padding:10px;border-width:1px;border-style:solid}
#content-area .cminput .comm_write_wrap .textarea{border:0 !important;}

/* 엄쐍썁쨤 - 2좾춿 엄쐍쒐 */
#content-area .cmlist .comm_cont{padding-top:10px}
#content-area .cmlist .reply .comm_cont{padding-left:10px;background:url(https://cafe.pstatic.net/cafe4/ico_comm_re2.gif) 0 13px no-repeat}
#content-area .cmlist .cminput{margin:-3px 0 -2px}
#content-area .cmlist .comm_cont.comm_cont_input{padding:18px 0 6px 11px;background-position-y: 19px;}
#content-area .cmlist .comm_cont.comm_cont_edit{padding:18px 0 9px 0}
#content-area .cmlist .comm_cont.comm_cont_edit .comm_write_wrap{*padding:5px 10px 8px 10px;}


/* 줧젌 찟찕 : 汰牡 줧젌썁쨤 쵖价┥弼얙 줧옷 쌸얦얯. */
#content-area .box-reply2 .pers_nick_area{padding:0 !important; margin:0; text-align:left; width:auto; float:left;}
#content-area .box-reply2 .pers_nick_area table{width:auto;table-layout:auto}
#content-area .box-reply2 .pers_nick_area .pc2w{width:28px;}
#content-area .box-reply2 .pers_nick_area .pc2w img{vertical-align:top; margin:0 !important;}
#content-area .box-reply2 .pers_nick_area .p-nick{padding:1px 0 0 !important; .padding-top:2px !important; margin:0; font-weight:bold; line-height:16px; overflow: visible}
#content-area .box-reply2 .pers_nick_area .p-nick a{margin-right:6px;vertical-align:top;}
#content-area .box-reply2 .pers_nick_area .p-border{border:1px solid #DDDDDD;}
#content-area .box-reply2 .pers_nick_area .p-none,
#content-area .box-reply2 .pers_nick_area .p-emoticon{}

/* 쫔콶썞쫚퀞 엄쐍 첕쨬첔 찟찕 */
#content-area .box-reply2.box-reply2_v1 td{vertical-align:top}
#content-area .box-reply2.box-reply2_v1 .pers_nick_area{width:100% !important}
#content-area .box-reply2.box-reply2_v1 .pers_nick_area .p-nick a{max-width:92px;float:left;margin:0 5px 4px 0;}
#content-area .box-reply2.box-reply2_v1 .pers_nick_area table{width:100% !important;table-layout:fixed !important}

/* 엄쐍 奏 */
.reply-box {clear:both; width:100%; line-height:18px; height:25px; _zoom:1; }
.reply-box td {padding-right:3px; vertical-align:top}
.reply-box .filter-30{padding-right:3px}
.reply-box .reply span {float:left; padding-left:5px;}
.reply-box .reply .ico-bl02 {display:inline-block; padding-top:5px; margin:0}
.reply-box .reply a {*vertical-align:-1px}
.reply-box img {position:relative; vertical-align:0 !important}
.reply-box .num-recomm img{margin-top:-5px;*margin-top:-4px}
.reply-box .num-recomm span{position:relative;top:-1px}
.reply-box .fl .filter-30 {padding:0 4px 0 1px}
.reply_sort table td{position:relative;vertical-align:middle;top:0;}
.reply_sort table td a{position:relative;*top:1px}
.reply_sort #cafe-menu {vertical-align:middle;}
.reply_sort .btn_likeit{top:-1px;*top:-2px;}

/* 쫔콶썞쫚퀞 컈쾇쵍 찟찕 */
.reply-list {line-height:1.4em; word-wrap:break-word;word-break:break-all; }
.reply-list span {display:inline-block;word-wrap:break-word;word-break:break-all;vertical-align:top}
html>body .reply-list span {overflow:hidden; }
.reply-line {*height:26px;padding-top:10px; padding-bottom:5px; -ms-filter:"alpha(opacity=30)";filter:alpha(opacity=30); opacity:0.3;zoom:1}
html>body .reply-line .board-box-line-dashed {height:1px; }
*:first-child+html .reply-line .board-box-line-dashed {height:auto;}
.reply-persona {vertical-align:middle; margin-bottom:3px; }
.reply-write-ico {width:23px; height:31px; border-width:1px; border-style:solid; border-color:#C5CACD; text-align:center; background:#fff url(https://cafe.pstatic.net/cafe4/ico-black_2.gif) no-repeat 0 100%}
.reply-write-ico img {margin-top:1px !important}
.reply-write-ico a {display:block; width:30px; height:23px;}
.reply-write {color:#333; width:582px; height:46px; border-style:solid; border-width:1px; border-top-color:#999999; border-right-color:#D7D7D7; border-bottom-color:#D7D7D7;border-left-color:#999999; overflow:auto; resize:none; }
*html .reply-write {margin-top:-1px; }
.reply-write-s {color:#333; width:399px; height:31px; border-style:solid; border-width:1px; border-top-color:#999999; border-right-color:#D7D7D7; border-bottom-color:#D7D7D7;border-left-color:#999999; overflow:auto; }
.memo-write {color:#333; width:648px; height:70px; border-style:solid; border-width:1px; border-top-color:#999999; border-right-color:#D7D7D7; border-bottom-color:#D7D7D7;border-left-color:#999999; overflow:auto;}
*html .memo-write {margin-top:-1px; }
.history-write {color:#333; width:648px; height:31px; border-style:solid; border-width:1px; border-top-color:#999999; border-right-color:#D7D7D7; border-bottom-color:#D7D7D7;border-left-color:#999999; overflow:auto;}
*html .history-write {margin-top:-1px; }
/*.reply-list .comm{padding-bottom:6px;}*/
.reply-list .comm_stck{display:block;}
#content-area .box-reply2.box-reply2_v1.u_cbox .reply-list .comm + .u_cbox_image_section{padding-top:6px;}

/* 엄쐍 첇좗쵔,쫔퀖 쥓 (썾쾖엄쐍) */
.u_cbox{position:relative;color:#000;text-align:left;-webkit-text-size-adjust:none}
.u_cbox a,.u_cbox a:link{background-color:transparent}
.u_cbox .u_vc{overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:1px;color:transparent;line-height:1px}
.u_cbox .u_vh{visibility:hidden}
.u_cbox,.u_cbox p,.u_cbox h1,.u_cbox h2,.u_cboxh3,.u_cbox h4,.u_cbox h5,.u_cbox h6,.u_cbox ul,.u_cbox ol,.u_cbox li,.u_cbox dl,.u_cbox dt,.u_cbox dd,.u_cbox table,.u_cbox th,.u_cbox td,.u_cbox form,.u_cbox fieldset,.u_cbox legend,.u_cbox input,.u_cbox textarea,.u_cbox button,.u_cbox select{margin:0;padding:0;font-family:'옺',dotum,Helvetica,sans-serif}
.u_cbox,.u_cbox input,.u_cbox textarea,.u_cbox select,.u_cbox button,.u_cbox table{font-size:12px;line-height:1.25em}
.u_cbox img,.u_cbox fieldset{border:0}
.u_cbox ul,.u_cbox ol{list-style:none}
.u_cbox em,.u_cbox address{font-style:normal}
.u_cbox a{color:#000;text-decoration:none}
.u_cbox table{border-collapse:collapse}
.u_cbox hr{display:none !important}
.u_cbox b,.u_cbox strong{font-weight:normal}
.u_cbox button,.u_cbox label,.u_cbox input[type=checkbox],.u_cbox input[type=radio],.u_cbox input[type=button]{cursor:pointer}
.u_cbox .u_cbox_image_section .u_cbox_image_icon_crop,
.u_cbox .u_cbox_image_section .u_cbox_image_icon_gif,
.u_cbox .u_cbox_upload_image_wrap .u_cbox_ico_delete_thumb,
.u_cbox .u_cbox_addition .u_cbox_ico_upload_sticker,
.u_cbox .u_cbox_addition .u_cbox_ico_upload_photo,
.u_cbox .u_cbox_upload_image_wrap .u_cbox_upload_thumb_add{background-image:url(https://ssl.pstatic.net/static/cafe/sp_cbox_160222.png);background-repeat:no-repeat}
.u_cbox .u_cbox_upload_image{position:relative;z-index:1;padding:0;margin:1px 0 0 0;border-top:0;*zoom:1}
.u_cbox .u_cbox_upload_image:after{display:block;clear:both;content:''}
.u_cbox .u_cbox_upload_image_wrap{float:left;position:relative;margin:11px 11px 0 0}
.u_cbox .u_cbox_upload_image_wrap .u_cbox_upload_thumb_link{display:block;position:relative;z-index:1;width:80px;height:80px;background-color:#fff;text-align:center;}
.u_cbox .u_cbox_upload_image_wrap .u_cbox_upload_thumb{position:relative;z-index:10;width:80px;height:80px;vertical-align:top}
.u_cbox .u_cbox_upload_image_wrap .u_cbox_upload_thumb_add{overflow:hidden;position:absolute;top:50%;left:50%;width:15px;height:15px;margin:-8px 0 0 -8px;z-index:1;background-position:0 -125px;color:transparent;font-size:0;}
.u_cbox .u_cbox_upload_image_wrap .u_cbox_upload_thumb_mask{position:absolute;top:0;right:0;bottom:0;left:0;z-index:20;border:1px solid #000;filter:alpha(opacity=5);opacity:.05}
.u_cbox .u_cbox_upload_image_wrap .u_cbox_ico_delete_thumb{overflow:hidden;position:absolute;top:-8px;right:-8px;z-index:30;width:21px;height:21px;line-height:50px;background-position:-156px -30px;font-size:0;color:transparent}
.u_cbox .u_cbox_upload_image_wrap .u-cbox-browse-box{overflow:hidden;position:absolute;z-index:2;width:80px;height:80px;filter:alpha(opacity=1);opacity:.01}
.u_cbox .u_cbox_upload_image_wrap .u-cbox-browse-file-input{display:block;width:80px;height:80px;font-size:0;color:transparent;cursor:pointer}
.u_cbox .u_cbox_addition{position:relative;margin:0;padding:0 0 0 29px;height:33px;list-style:none;}
.u_cbox .u_cbox_addition li{float:left}
.u_cbox .u_cbox_addition:after{display:block;clear:both;content:''}
.u_cbox .u_cbox_addition .u_cbox_btn_upload_sticker,
.u_cbox .u_cbox_addition .u_cbox_btn_upload_photo{display:inline-block;position:relative;overflow:hidden;*width:58px;height:33px;line-height:37px;border:0;background-color:transparent;vertical-align:top}
.u_cbox .u_cbox_addition .u_cbox_btn_upload_photo{margin:0 0 0 14px;}
.u_cbox .u_cbox_addition .u_cbox_ico_upload_sticker,
.u_cbox .u_cbox_addition .u_cbox_ico_upload_photo{display:inline-block;width:18px;height:18px;margin:-2px -2px 0 0;*margin:8px 2px 0 0;vertical-align:middle}
.u_cbox .u_cbox_addition .u_cbox_ico_upload_photo{margin-right:-1px;*margin-right:3px;}
.u_cbox .u_cbox_addition .u_cbox_txt_upload_sticker,
.u_cbox .u_cbox_addition .u_cbox_txt_upload_photo{display:inline-block;height:33px;font-size:12px;color:#000;opacity:0.55;filter:alpha(opacity=55);vertical-align:top}
.skin_dark .u_cbox .u_cbox_addition .u_cbox_txt_upload_sticker,
.skin_dark .u_cbox .u_cbox_addition .u_cbox_txt_upload_photo{color:#fff}
.u_cbox .u_cbox_addition .u_cbox_ico_upload_sticker{background-position:-24px -103px}
.u_cbox .u_cbox_addition .u_cbox_ico_upload_photo{background-position:-46px -103px}
.u_cbox .u_cbox_addition .u_cbox_btn_upload_sticker_on .u_cbox_ico_upload_sticker{background-position:-74px -143px}
.u_cbox .u_cbox_addition .u_cbox_btn_upload_photo_on .u_cbox_ico_upload_photo{background-position:-96px -143px}
.skin_dark .u_cbox .u_cbox_addition .u_cbox_ico_upload_sticker{background-position:-24px -143px;}
.skin_dark .u_cbox .u_cbox_addition .u_cbox_ico_upload_photo{background-position:-46px -143px;}
.skin_dark .u_cbox .u_cbox_addition .u_cbox_btn_upload_sticker_on .u_cbox_ico_upload_sticker{background-position:-24px -81px}
.skin_dark .u_cbox .u_cbox_addition .u_cbox_btn_upload_photo_on .u_cbox_ico_upload_photo{background-position:-46px -81px}
.u_cbox .u_cbox_addition .u_cbox_ico_arrow{display:none}
.u_cbox .u_cbox_image_section{padding:0 0 7px 29px;}
.u_cbox .u_cbox_image_section .u_cbox_image_wrap{display:block;padding:4px 0 0;*zoom:1}
.u_cbox .u_cbox_image_section .u_cbox_image_wrap:after{display:table;clear:both;content:''}
.u_cbox .u_cbox_image_section .u_cbox_image_link{display:block;overflow:hidden;float:left;position:relative;max-width:250px;max-height:375px}
.u_cbox .u_cbox_image_section .u_cbox_comment_image{margin:0;max-width:250px;max-height:375px;vertical-align:top}
.u_cbox .u_cbox_image_section .u_cbox_image_icon_gif,
.u_cbox .u_cbox_image_section .u_cbox_image_icon_crop{overflow:hidden;position:absolute;top:50%;left:50%;width:48px;height:48px;margin:-24px 0 0 -24px;line-height:999px}
.u_cbox .u_cbox_image_section .u_cbox_image_icon_gif{width:49px;background-position:-551px -68px}
.u_cbox .u_cbox_image_section .u_cbox_image_icon_crop{background-position:-496px -68px}
.u_cbox .u_cbox_btn_upload{display:inline-block;position:absolute;bottom:0;right:0;z-index:10;width:84px;height:61px;border:1px solid #ccc;background:#fff !important;font-size:13px;font-weight:bold;line-height:61px;text-align:center}
.u_cbox .u_cbox_btn_upload a{display:inline-block;width:100%;height:100%;color:#666;}
.u_cbox .u_cbox_btn_upload.on a{color:#00c73c}
.u_cbox .u_cbox_upload_image_wrap.sticker .u_cbox_upload_thumb_link .u_cbox_upload_thumb{display:inline-block;width:auto;height:auto;max-width:80px;max-height:80px;text-align:center;vertical-align:middle;margin:auto;}
.u_cbox .u_cbox_upload_image_wrap.sticker .u_cbox_upload_thumb_link:before{display:inline-block;vertical-align:middle;height:100%;margin-left:-4px;content:' '}
#content-area .box-reply2.box-reply2_v1.u_cbox .u_cbox_image_section{padding:0 0 7px 1px;}
#content-area .box-reply2.box-reply2_v1.u_cbox  .u_cbox_image_section .u_cbox_image_wrap{padding-top:1px}
.u_cbox_btn_file{display:inline-block;position:absolute;width:53px;height:33px;top:0;left:0;right:0;bottom:0;z-index:10;}
.u_cbox_btn_file label{position:absolute;width:53px;height:33px;top:0;left:0;right:0;bottom:0;color:transparent;line-height:33px;cursor:pointer;text-align:right;opacity:0;filter:alpha(opacity=0);}
.u_cbox_btn_file input[type=file]{position:absolute;overflow:hidden;width:0;height:0;bottom:0;border:0;}
.u_cbox_link_wrap{display:inline-block;position:absolute;top:0;right:0;bottom:0;left:0;color:#fff;opacity:0;filter:alpha(opacity=0);}
.u_cbox .board_member_reply .u_cbox_image_section{padding:0 0 8px 0;}
.u_cbox .board_member_reply .txt_reply + .u_cbox_image_section{padding:2px 0 8px 0;}
.u_cbox .board_member_reply .u_cbox_sticker_wrap{padding-top:4px;}